.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src-i386/*

Read-and-delete-me

tests/testthat*.json
tests/testthat/Rplots.pdf
junk/
build
bin
.clangd
*.h5
vcpkg_installed
*desktop.ini
*.DS_Store
*Icon*
.vscode*
.idea*
junk*
docs
inst/doc
